<!--
    - @name checkup.html Formulaire de confirmation d'invitation
    - @author IDea Factory (dev-team@ideafactory.fr) - Sept. 2018
    - @package /components/checkup
    - @version 1.0.0
-->
<form id="checkup-form" class="form form-stacked">
    <div class="col-xs-12">
        <p id="user-name"></p>
        <p id="user-company"></p>

        <p>Vous pourrez confirmer votre présence en cliquant sur le bouton ci-dessous</p>
    </div>

    <div class="form-group">
        <button
            type="submit"
            id="send-it"
            disabled
            class="btn btn-default center-block"
        >
            Checkout
        </button>
    </div>
</form>